body {
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.43, rgb(87, 84, 176)),
            color-stop(0.72, rgb(208, 206, 235))
    );
    background: -moz-linear-gradient(
            center bottom,
            rgb(87, 84, 176) 43%,
            rgb(208, 206, 235) 72%
    );
    height: 920px;
}

.container label {
    color: white;
}

.underline {
    text-decoration: underline;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.move {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.move:hover {
    border: 4px solid #d0d0d0;
}

.move-made {
    border: 4px solid #fff53e;
}

.rps-img {
    height: 100px;
    width: 100px;
}

.top-buffer { margin-top:5px; }

input:invalid {
  background-color: #ffdddd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}