body {
    background-color: #d7d7d7;
    /*overflow-y: hidden;*/
}

.container label {
    color: white;
}

.underline {
    text-decoration: underline;
}

.white-text {
    color: white;
}

.winner-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 95px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.black-text {
    color: black;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.move {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.move:hover {
    border: 4px solid #d0d0d0;
}

.move-made {
    border: 4px solid #fff53e;
}

.rps-img {
    height: 100px;
    width: 100px;
}

.top-buffer {
    margin-top: 5px;
}

input:invalid {
    background-color: #ffdddd;
}

h1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

/* Card */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background-color: powderblue;
    margin-bottom: 10px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*.card > .container {*/
/*padding: 2px 16px;*/
/*}*/
/* End Card */

#startGame {
    margin-left: 0;
    margin-right: 0;
}